server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: ${GIT_REPOSITORY}
          username: ${GIT_USER}
          password: ${GIT_PASS}
          default-label: master
  security:
    user:
      name: root
      password: s3cr3t

